<!DOCTYPE html>
<html>

<head>
    <title>Microsoft Store Icons</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Microsoft Store Icons</h1>
    <form method="POST" class="button-form">
        <label for="appid">App ID:</label>
        <input type="text" id="appid" name="appid" placeholder="Enter App ID">
        <button type="submit" class="button">Get Icon</button>
    </form>
    <form method="POST" class="button-form">
        <input type="hidden" name="clear" value="1">
        <button type="submit" class="button">Clear List</button>
    </form>
    <ul id="icons-list">
        {% for icon in icons %}
        <li>
            <a href="{{ icon.image_data }}" download="{{ icon.appid }}.png">
                <h3>{{ icon.appid }}</h3>
                {{ icon.preview_image | safe }}
            </a>
        </li>
        {% endfor %}
    </ul>
</body>

</html>